<html>
    <head>
    <title>Todo App</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script src="/assets/todo-list.js"></script>
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
    

    </head>

    <body>
    <h1>My Todo List</h1>
        <div id="todo-table">
            <form method="post">
                <input type="text" name="item" placeholder="Add New Item.." required />
                <button type="submit">Submit </button>

            </form>

            <ul>
                   <% for(var i=0; i< todos.length; i++) {%>   
                        <li><%= todos[i].item %></li>
                   <%  } %>                        
            </ul>

        </div>
    </body>
</html>
